[Unit]
Description=TripleA Lobby Server
Documentation=https://github.com/triplea-game/lobby/blob/master/README.md

[Service]
WorkingDirectory=
User=triplea
ExecStart=
Restart=always

[Install]
WantedBy=multi-user.target
