[Unit]
Description=Prometheus metrics gathering
Documentation=https://prometheus.io/docs/introduction/first_steps/

[Service]
WorkingDirectory=/home/prometheus/prometheus-2.2.1
User=prometheus
Group=prometheus
ExecStart=EXEC
Restart=always

[Install]
WantedBy=multi-user.target
