[Unit]
Description=Prometheus metrics gathering
Documentation=https://prometheus.io/docs/introduction/first_steps/

[Service]
WorkingDirectory=
User=prometheus
Group=prometheus
ExecStart=
Restart=always

[Install]
WantedBy=multi-user.target
